
.wrap {
  margin: auto;
  width: 80%;
  max-width: 1200px;
}

.buffer {
  height: 100px;
}

.header-icon {
  text-decoration: none;
}

.main-body {
  padding: 70px 10px 10px 10px;
}

.header-title {
  padding-bottom: 5px;
  border-bottom: #eee solid 2px;
}

.padding-5 {
  padding: 5px;
}

.padding-10 {
  padding: 10px;
}

@media only screen and (max-width: 767px) {
  .wrap {
    width: 100%;
  }

  .buffer {
    display: none;
  }
}
