<div class="unit-25">
    <!-- sidebar -->
    <div class="buffer"><!--buffer--></div>
    <a href="{{ site.baseurl }}" class="header-icon">
      <h1>Janice Leung</h1>
    </a>
    <nav class="nav nav-stroked">
      <ul>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('projects') }}">Projects</a></li>
        <li><a href="{{ url_for('contact') }}">Contact</a></li>
      </ul>
    </nav>
    <div class="buffer"><!--buffer--></div>
    <div class="buffer"><!--buffer--></div>
    <div class="social-icons">
      <div class="unit-33">
        <img src="{{ site.baseurl }}/images/google.png" alt="gmail" />
      </div>
      <div class="unit-33">
        <img src="{{ site.baseurl }}/images/linkedin.png" alt="linkedin" />
      </div>
      <div class="unit-33">
        <img src="{{ site.baseurl }}/images/github.png" alt="github" />
      </div>
    </div>
</div>
