<!DOCTYPE html>
<html>
<head>
    <title>Janice Leung</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{{ "css/kube.min.css" | prepend: site.baseurl }}" />
    <link rel="stylesheet" href="{{ "css/stylesheet.css" | prepend: site.baseurl }}" />
</head>
<body>
    <div class="units-row wrap">
        <div class="unit-25">
            <!-- sidebar -->
            <div class="buffer"><!--buffer--></div>
            <a href="{{ site.baseurl }}" class="header-icon">
              <h1>Janice Leung</h1>
            </a>
            <nav class="nav nav-stroked">
              <ul>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('projects') }}">Projects</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
              </ul>
            </nav>
            <div class="buffer"><!--buffer--></div>
            <div class="buffer"><!--buffer--></div>
            <div class="social-icons">
              <div class="unit-33">
                <img src="{{ url_for('static', filename='images/google.png') }}" alt="gmail" />
              </div>
              <div class="unit-33">
                <img src="{{ url_for('static', filename='images/linkedin.png') }}" alt="linkedin" />
              </div>
              <div class="unit-33">
                <img src="{{ url_for('static', filename='images/github.png') }}" alt="github" />
              </div>
            </div>
        </div>
        <div class="unit-75 main-body">
          <h1 class="header-title">{% block header %}{% endblock %}</h1>
          <!-- content -->
          {{ content }}
        </div>
    </div>
</body>
</html>
